<% provide(:title, "About") %>
<h1>About</h1>
<p>Welcome to the about section. This website was made by following the <a href="http://www.railstutorial.org/book" target="_blank">ruby on rails tutorial</a> by michael hartl.</p>
