<%unless correct_user?(@user)%>
  <div id="follow_form">
  <% if current_user.following?(@user)%>
    <%=render 'users/unfollow_form'%>
  <% else %>
    <%=render 'users/follow_form'%>
  <%end%>
</div>
<%end%>
