footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid black;
}
footer small{
  float:left;
}
footer ul{
  float: right;
  list-style: none;
}
footer ul li{
  float: left;
  margin-left: 15px;
}
